*{margin: 0; padding: 0;}

.content{
  width: 1136px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
}

.content .box{
  width: 269px;
  height: 383px;
  float: left;
  margin-left: 12px;
}

.content .box4{
  margin-right: 0;
}


.box .box_img{
  width: 269px;
  height: 269px;
}

.imgbox_1{
  background-image: url(../image/a1.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  transition: all 0.3s;
}

.imgbox_1:hover{
  background-size: 110% 110%;
}

.imgbox_2 {
  background-image: url(../image/a2.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  transition: all 0.3s;
}

.imgbox_2:hover {
  background-size: 110% 110%;
}

.imgbox_3 {
  background-image: url(../image/a3.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  transition: all 0.3s;
}

.imgbox_3:hover {
  background-size: 110% 110%;
}

.imgbox_4 {
  background-image: url(../image/a4.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  transition: all 0.3s;
}

.imgbox_4:hover {
  background-size: 110% 110%;
}

.box .text1{
  font-size: 12px;
  color: gray;
}

.box .text2{
  font-size: 14px;
}

.box .text3 .t1{
  font-size: 18px;
  font-weight: bold;
  color: skyblue;
}

.box .text3 .t2 {
  font-size: 18px;
  font-weight: bold;
}

.box .text4 .t3{
  font-size: 12px;
  color: skyblue;
}

.box .text4 .t4{
  font-size: 12px;
  font-weight: bold;
}

.box .text4 .t5{
  font-size: 12px;
  font-weight: bold;
  color: gray;
}