#container{
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  /* border: 1px solid #333; */
  /* padding-bottom: 50px;
  padding-left: 20px; */
  border: none;
}

div{
  border: 1px dotted #222;
  padding: 20px;
  margin: 20px;
}

#description{
  border-radius: 30px 30px 0 0;
}

#package{
  border-radius: 0 0 30px 30px;
}

table{
  border: 1px solid #333;
  border-collapse: collapse;
}

th, td{
  border: 1px solid #333;
  padding: 7px 0;
}