*{margin: 0; padding: 0;}
a{text-decoration: none; color: #000;}
ul{list-style: none;}

header{
  height: 100px;
  position: relative;
  border-top: 5px solid green;
}

header h2{
  position: absolute;
  width: 202px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

header h2 img{
  display: block;
  width: 100%;
}

nav{
  width: 100%;
  height: 70px;
  position: relative; 
  text-align: center;
  border-bottom: 1px solid grey;
  
}

nav>ul {
  width: 100%;
  height: 70px;
  background-color: #fff;
  overflow: hidden;
  
}

nav>ul:hover {
  height: 250px;
  transition: all 0.35s;
}

nav>ul>li {
  vertical-align: top;
  display: inline-block;
}

nav ul li a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
  font-size: 0.875rem;
  
}

nav>ul>li>a {
  font-size: 18px;
  height: 70px;
  line-height: 70px;
  font-weight: bold;
  color: #000;
}

nav ul li ul li a:hover{
  background-color: #fff;
  color: green;
  text-decoration: underline; 
}

nav>ul>li>a:hover{
  color: green;
  transition: all 0.3s;
}