*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}

header{
  height: 80px;
  position: relative;
  border-top: 3px solid green;
}

header h2{
  position: absolute;
  width: 202px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

header h2 img{
  display: block;
  width: 100%;
}

nav{
  width: 100%;
  height: 50px;
  position: relative;
  text-align: center;
}

nav>ul{
  width: 100%;
  height: 50px;
  background-color: #999;
  overflow: hidden;
}

nav>ul:hover{
  height: 220px;
  transition: all 0.35s;
}

nav>ul>li{
  /* 넓이 높이 존재 옆으로 나열 */
  vertical-align: top;
  display: inline-block;
}

nav ul li a{
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  font-size: 0.875rem; 
  /*16px * 0.875*/
}

nav>ul>li>a{
  font-size: 1em;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  color: #fff;
}

nav ul li ul li a:hover{
  background-color: yellow;
}

