*{margin: 0; padding: 0; box-sizing: border-box;}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

.section-header{
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.section-label{
  color:#4f46e5;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  /* margin-bottom: 60px; */
}

.section-title{
  font-size: 3rem;
}

.section-description{
  margin-left: auto;
  margin-bottom: 30px;
  color: #64748b;
  max-width: 24rem;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-top: 60px;
}
.card{
  min-height: 480px;
  background: white;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  border: 1px solid #e2e8f0;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}

.card-image{
  position: relative;
  height: 220px;
  overflow: hidden;
}

.card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  
}

.card:hover .card-image img {
  transform: scale(1.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-category{
  position: absolute;
  top: 12px;
  left: 12px;
  background: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.card-content{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px ;
}

.card-title{
  font-size: 18px;
  font-weight: 700;
}

.card-description{
  font-size: 14px;
  color: #64748b;
  line-height: 1.6;
}

.card-footer{
  margin-top: auto;
  font-weight: 700;
}

.card-price{
  color: #4f46e5;
  font-weight: 700;
}

.card-arrow{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #94a3b8;
  cursor: pointer;
  transition: all 0.3s ease;
  /* border-radius: 10px; */
}

.card-arrow:hover{
  color: white;
  background-color: #4f46e5;
}

svg{
  width: 20px;
  height: 20px;
}

@media (max-width:1024px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
