*{margin: 0;padding: 0;}
ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#header_out{
  height: 700px;
  width: 100%;
  min-width: 1920px;
  background: url(../imgs/apa2.jpg) no-repeat 50% 50% / cover ;
}

.logo{
  position: absolute;
  width: 170px;
  height: 70px;
  left: 0;
  top: 0;
  z-index: 111;
}

.logo img{
  display: block;
  width: 100%;
  height: 100%;
}

.lnb{
  position:absolute;
  width: 200px;
  height: 70px;
  right: 0;
  top: 0;
  z-index: 111;
  background-color: #eee;
}

.lnb > li{
  float: left;
}

.lnb>li>a{
  display: block;
  color: #666;
  box-sizing: border-box;
  width: 100px;
  padding-left: 10px;
  padding-top: 20px;
}

.lnb>li>a>span{
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 1px solid #333;
  vertical-align: middle;
  margin: 0 5px;
}

.lnb>li:first-child>a>span{
  background: url(../imgs/icon.png) no-repeat 0 0;
}

.lnb>li:last-child>a>span{
  background: url(../imgs/icon.png) no-repeat -23px 0;
}

header{
  width: 100%;
  height: 70px;
  position: relative;
}

header nav .line{
  position: absolute;
  height: 1px;
  width: 1400px;
  left: 50%;
  transform: translate(-50%,0);
  top: 69px;
  background-color: #fff;
  z-index: 199;
}

.main{
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  transition: all 0.3s;
  /* background-color: #333; */
}

header > nav > .main > ul{
  width: 1000px;
  height: 70px;
  position: relative;
  margin: 0 auto;
  z-index: 900;
}

.main>ul>li{
  float: left;
}

header nav .main ul li a{
  display: block;
  width: 200px;
  height: 70px;
  line-height: 70px;
  position: relative;
  text-align: center;
}

header nav .main ul li ul li a{
  height: 50px;
  line-height: 50px;
  font-weight: normal;
}

.main ul li ul{
  position: absolute;
  height: 0;
  transition: all 0.3s;
  overflow: hidden;
}

.main ul:hover li ul{
  height: 350px;
  /* background-color: blue; */
}

header > nav > .main > ul > li > a::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: scale(0,1);
  transition: all 0.3s;
}

header>nav>.main>ul>li>a:hover:after{
  transform: scale(1,1);
  /* scale 기준이 중앙이고 넓이 0 -> 1로 변환 */
}

.menu_shadow{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-color: #1f2572;
  transition: all 0.3s;
}

.main ul:hover + .menu_shadow{
  height: 420px;
}