* {
  margin: 0;
  padding: 0;
}

.contents {
  width: 100%;
  height: 530px;
  background-image: url(../imgs/intro_bg.png);
}

.section1 {
  width: 1440px;
  height: 430px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.section1 {
  width: 1440px;
  height: 430px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.section1 .left {
  width: 340px;
  float: left;
}

.section1 .left img{
  padding-top: 100px;
  /* 안여백을 줘서  */
}

.section1 .right {
  width: 1100px;
  height: 430px;
  float: left;
  /* background-color: aqua; */
}

.r_top img{
  padding: 30px;
}

.r_top .text1{
  color: #003b5a;
  padding-bottom: 10px;
}

.r_top .text2{
  line-height: 150%;
  /* 줄간격을 넓혀서 위아래 간격 넓게 */
}

.r_bottom ul{
  width: 800px;
  margin: 30px auto;
  /* 중앙정렬, 위아래 간격 넓게 */
  list-style: none;
  /* 블릭 제거 */
}

.r_bottom ul li{
  float: left;
  width: 190px;
  height: 250px;
}

/* 생략가능 */
.r_bottom ul li a{
  display: block;
  /* a태그를 블럭요소로 */
  width: 150px;
  height: 150px;
  margin: 20px auto;

}

.r_bottom ul li a img:nth-child(1){
  display: block;
}

.r_bottom ul li a:hover img:nth-child(1){
  display: none;
}

.r_bottom ul li a img:nth-child(2){
  display: none;
}

.r_bottom ul li a:hover img:nth-child(2){
  display: block;
}

.section2 {
  width: 1440px;
  height: 700px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.title {
  padding-bottom: 50px;
}

.title h2 {
  font-size: 43px;
  font-weight: bold;
}

ul.list{
  list-style: none;
  width: 100%;
  height: 430px;
}

ul.list li{
  width: 340px;
  height: 430px;
  border: 1px solid #000;
  box-sizing: border-box;
  /* padding 과 border 포함 크기가 같다 - 중요함 */
  padding: 50px 0;
  float: left;
  margin-right: 26.6px;
}

ul.list li:nth-child(4){
  margin-right: 0px;
}

.section2 .bottom1{
  padding: 40px 0;
  
}

.bottom1 .txt5{
  margin-top: 30px;
}

.bottom1 .txt5 a{
  display: block;
  /* a태그(인라인요소) -> 블럭요소로 변경 */
  width: 320px;
  padding: 19px 10px;
  color: #fff;
  background-color: #003b5a;
  margin: 0 auto;
  /* 블럭요소 가운데 정렬 */
  text-decoration: none;
  /* 밑줄없애기 */
}
