*{margin: 0; padding: 0;}
.bigbox{
  width: 500px;
  height: 500px;
  border: 1px solid #333;
  left: 50%;
}

/* .face{
  width: 500px;
  height: 450px;
  position: absolute;
  bottom: 0;
  background-color: rgb(120, 139, 245);
  border-radius: 50%;
  border: 10px solid #333;
  box-sizing: border-box;
} */