*{margin: 0; padding: 0;}

.bigbox{
  width: 1070px;
  height: 800px;
  border: 1px solid #333;
  margin: 0 auto;
  position: relative;
}

.box{
  display:none;
  width: 260px;
  height: 260px;
  position: absolute;
  display: none;
}

.box img{
  display: block;
  top: 0;
  left: 0;
}

.box1{
  display: block;
  top: 0;
  left: 0;
}

.box2{
  display: block;
  top: 0;
  left: 270px;
  height: 530px;
}

.box3{
  display: block;
  top: 0;
  left: 540px;
}

.box4{
  display: block;
  top: 0;
  right: 0;
}

.box5{
  display: block; 
  top: 270px;
  left: 0 ;
}

.box6{
  display: block;
  top: 270px;
  left: 540px;
  width: 530px;
}

.box7{
  display: block;
  top: 540px; 
  left: 0;
}

.box8{
  display: block;
  top: 540px;
  left: 270px;
  width: 530px;
}

.box9{
  display: block;
  right: 0;
  top: 540px;
}

.box::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 250, 0.5);
  transition: all 0.3s;
}

.box:hover::before{
  width: 100%;
}

.box6::before{
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
}

.box6:hover::before{
  height:100%;
}

.box8::before {
  width: 100%;
  height: 0%;
}

.box8:hover::before {
  height: 100%;
}

.box p {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: #fff;
  text-align: center;
  padding-top: 30%;
  box-sizing: border-box;
  background: url(../img/more.png) no-repeat 50% 70%;
  opacity: 0;
  transition: all 0.5s
}

.box:hover p {
  opacity: 1;
}

.box2 p{
  padding-top: 150px;
}

.box6 p{
  padding-top: 100px;
}

.box8 p{
  padding-top: 120px;
}




