*{margin: 0; padding: 0;}

.bigbox1{
  width: 1000px;
  margin: 10px auto;
  border: 5px solid tan;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

ul{list-style: none;}

.bigbox .box{
  /* flex: 1; 각 박스크기가 동일 */
  width: 200px;
  height: 150px;
  border: 1px solid tan;
  position: relative;
  overflow: hidden;
}

.bigbox .box img{
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  /* transform: scale(1); */
}

.bigbox .box:hover img{
  transform: scale(1.2);
}

.bigbox .box::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0 ;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s;
  z-index: 2;
}

.bigbox .box:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.box .p1{
  position: absolute;
  top: 50px;
  left: 50px;
  color: #fff;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.5s;
  z-index: 3;
}

.box .p2{
  position: absolute;
  bottom: 30px;
  left: 50px;
  color: #fff;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.4s 0.1s;
  z-index: 3;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 20px;
}

.box:hover .p1{
  transform: translate(0, 0px);
  opacity: 1;
}

.box:hover .p2{
  transform: translate(0, 0px);
  opacity: 1;
}