*{margin: 0; padding: 0;}
ul{list-style: none;}
.contents{
  width:1200px;
  margin: 0 auto;
  height:1000px;
  /* border: 1px solid #333; */
}
.c_group1{
   width: 718px;
   height:425px;
   float:left;
}
.pop_slide{
  width:718px;
  height:350px;
  overflow: hidden;
  position: relative;
  border-radius: 4%;
}

/* BxSlider 기본 스타일 오버라이드 - 생략가능 */
.bxslider {
  margin: 0;
  padding: 0;
}

.bxslider li {
  list-style: none;
}

.bxslider li a{
  display: block;
  width:100%;
  height:100%;
}

.bxslider li a img{
  display: block;
  width:100%;
  height:100%;
  object-fit: cover;
  
}

.slide_but{
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  padding-left: 10px;
}

.slide_but p{
  float: left;
  color: #333;
  height: 40px;
  line-height: 40px;
  margin-left: 5px;
}

.slide_but p a{
  float: left; /*a 인라인 요소라도 넓이 높이 입력 가능*/
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-left: 8px;
  background: url(../image/slickButton.png) no-repeat;
  cursor: pointer;
}

.slide_but p a.prev{
  background-position: 0 0;
}

.slide_but p a.pause {
  background-position: -20px 0;
}

.slide_but p a.pause.on {
  background-position: -40px 0;
}

.slide_but p a.next {
  background-position: -60px 0;
}

.slide_but p a.list {
  background-position: -80px 0;
}