*{margin: 0; padding: 0;}
#wrapper{
  width: 900px;
  margin: 0 auto;
}

header{
  height: 200px;
  /* background-color: #f46075;
  background-image: url(../img/nav2.png);
  background-repeat: no-repeat;
  background-position: 95% 40%; */
  background: #f46075 url(../img/nav2.png) no-repeat 95% 40%
  
}

header h1{
  float: left;
  color: #fff;
  margin-left: 50px;
  margin-top: 65px;
}

header .logo{
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}

nav{
  height: 60px;
  background-color: #ccc;
}

nav ul{list-style: none;}

nav ul li{
  float: left;
  margin-left: 50px;
  margin-top: 10px;
  /* a넓이 높이를 주면 li 크기와 동일 */
}

nav ul li a{
  /* a태그는 인라인요소 -> 넓이 높이를 줄 수 없음 */
  display: block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  /* 높이와 줄간격을 같게 하면 세로 중앙정렬 */
  /* background-color: pink; */
  text-align: center;
  /* 가로 중앙 정렬 */
  color: #000;
  text-decoration: none;
  /* a태그를 주면 밑줄생김 */
  /* 밑줄없애기 */
}

nav ul li a:hover{
  background-color: #f46075;
  font-weight: bold;
  /* 글자 진하게 */
  color: #fff;
  border-radius: 20px;
  /* 모서리 둥글게 */
}

main{
  /* height: 550px; */
  overflow: hidden;
  /* section aside 를 감싸는 main에게 높이를 부여해야함 */
}

section{
  width: 650px;
  height: 550px;
  float: left;
  background-color: skyblue;
}

section h2{
  text-align: center;
  padding: 10px 0;
}

aside{
  width: 250px;
  height: 550px;
  float: left;
  background-color: #ffffcc ;
  text-align: center;
}

section article{
  width: 280px;
  height: 180px;
  border: 1px solid #333;
  float: left;
  padding: 10px;
  margin-left: 15px;
  margin-top: 15px;
}

section article p{
  font-size: 13px;
  text-align: justify;
  /* 양쪽정렬 */
}

article h3{
  background: url(../img/bg.png) no-repeat 100% 50;
  padding-left: 30px;
  padding-bottom: 10px;
}

aside h2{
  padding: 10px 0;
}

aside img{
  padding-bottom: 10px;
}

footer{
  height: 50px;
  line-height: 50px;
  /* 높이 = 줄간격 세로중앙정렬 */
  background-color: #333;
  color: #fff;
  text-align: center;
}

