*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: whitesmoke;
}

h2{
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
  margin-bottom: 15px;
}

h2 span {
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin-top: 30px;
  color: #000;
}

.card-container{
  display: flex;
  gap: 70px;
  justify-content: center;
}

.card{
  width: 280px;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.card-content p {
  font-size: 14px;
  color: #000;
}