*{margin: 0;padding: 0;}

.header_top{
  position: relative;
  height: 40px;
  background-color: darkblue;
  z-index: 100;
}

.header_top.fixed{
  display: none;
}
.header_middle {
  position: relative;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  z-index: 100;
}

.header_middle.fixed{
  position: fixed;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #fff;
  top: 0;
}

nav{
  position: relative;
  top: 0;
  height: 100px;
  width: 100%;
  background:rgba(255, 255, 255, 0.5);
  z-index: 10;
  transition: all 0.5s;
}

nav.fixed{
  position: fixed;
  top: 60px;
}

nav ul{width: 1000px; height: 100px; margin: 0 auto; list-style: none;}

nav ul li{float: left;}

nav ul li a{
  display: block;
  width: 200px;
  height: 100px;
  line-height: 100px;
  font-size: 32px;
  color: #000;
  text-align: center;
  text-decoration: none;
}

nav ul li.on a{
  color: orange;
  font-weight: bold;
}


.s_Top{
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
}

.section{
  width: 100%;
  height: 100vh;
  position: relative;
}

.section1{
  background: url(../img/b1.jpg) no-repeat 50% 50% / cover;
}

.section.section1{
  height: calc(100vh - 200px);
}

.section.section1.fixed{
  height: 100vh;
}

.section2 {
  background: url(../img/b2.jpg) no-repeat 50% 50% / cover;
}

.section2 .left1{
  position: absolute;
  padding: 50px;
  background-color: #fff;
  text-align: center;
  top: 50px;
  left: -350px;
  transition: all 0.3s;
}

.section2 .left1.on{
  left: 100px;
}

.section2 .right1 {
  position: absolute;
  padding: 50px;
  background-color: #fff;
  text-align: center;
  bottom: 50px;
  right: -350px;
  transition: all 0.3s;
}

.section2 .right1.on{
  right: 100px;
}

.section3 {
  background: url(../img/b3.jpg) no-repeat 50% 50% / cover;
}

.section4 {
  background: url(../img/b4.jpg) no-repeat 50% 50% / cover;
}

.section4 .s4_cover{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 200px;
  text-align: center;
}

.s4_cover > div{
  display: inline-block;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.7);
  width: 200px;
  padding: 30px 0;
  transform: translateY(70px);
  transition: all 0.8s;
  opacity: 0;
}

.s4_cover > div.active{
  transform: translateY(0px);
  opacity: 1;
}

.section5 {
  background: url(../img/b5.jpg) no-repeat 50% 50% / cover;
}